.roger {
        text-align: center;
      }
      .quarto {
        text-align: right;
      }
      .cammino,
      .vita {
        font-weight: bold;
      }
      .selva {
        font-style: italic;
      }
      .via {
        text-decoration: underline;
      }
      h4 {
        text-align: right;
      }
      .frame{
        