/*
REGOLE GENERALI DA IMPLEMENTARE nel CSS:
    1. Font-family,
    2. Font-size,
    3. Text-align,
    4. Color
*/

.P1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30 px;
  text-align: center;
  color: red;
}
.P2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: right;
  color: blue;
}
.P3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: left;
  color: green;
}
